<ul data-role="listview" data-theme="a" data-divider-theme="d">
  <% @messages.each do |msg| %>
      <li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>


      <li>
        <a href="show">
          <h3><%= msg.user.name %></h3>
          <!--<p><strong>This weekend in Maine</strong></p>-->
          <p>Sounds good, let me check into our plans.</p>

          <p class="ui-li-aside"><strong>6:24</strong>AM</p>
        </a>
      </li>
  <% end %>
</ul>









