<% content_for :page_title do %>
    New Messages
<% end %>



<form>
  <label for="select-choice-0" class="select">To:</label>
  <select name="select-choice-0" id="select-choice-0">
    <option value="standard">Standard: 7 day</option>
    <option value="rush">Rush: 3 days</option>
    <option value="express">Express: next day</option>
    <option value="overnight">Overnight</option>
  </select>

  <label for="basic">Subject</label>
  <input type="text" name="name"  data-mini="true" />

  <label for="basic">Description</label>
  <textarea></textarea >



  <div data-role="controlgroup" data-type="horizontal" style="float: right;">
    <a href="#" data-role="button">Send</a>
    <a href="#" data-role="button">Cancel</a>

  </div>
</form>

