<% content_for :page_title do %>
    Message
<% end %>

<h3>To: <%= @message.receipients.map { |r| r.user.name }.join(", ") %></h3>
<p>Subject: <%= @message.name %></p>
<p class="ui-li-aside"><strong><%= @message.created_at %></strong></p>
<br>
<br>
<%= raw @message.body %>

<br>
<br>
<br>
<br>

