<%# content_for :page_title do %>
    <!--Meetings-->
<%# end %>



<head>
  <script>

      $('#nots').hide();
      $("#nt").click(function() {
          $('#nots').toggle();
      });

      $('#decl').hide();
           $("#dec").click(function() {
               $('#decl').toggle();
           });



   </script>
</head>
<h1>Meeting Respondent page</h1>
<table>
  <tr>
      <td>
        From:
      </td>
      <td>
        <input type="text" >
      </td>
    </tr>
  <tr>
    <td>
      To:
    </td>

    <td><select name="select-choice-1" id="select-choice-1" data-theme="b" tabindex="-1">
            <option value="standard">Sachin</option>
            <option value="rush">Juan Griego</option>
            <option value="express">La Asuncion</option>
            <option value="overnight">Manzanillo</option>
            <option value="altagracia">Altagracia</option>
            <option value="taguantar">Taguantar</option>
            </select>
    </td>


  </tr>
  <tr>
      <td>
        Day:
      </td>
      <td>
        <p><strong>Mahatama Gandhi Day</strong></p>

      </td>
    </tr>
  <tr>
      <td>
        Time:
      </td>
      <td>
       12:15 PM
      </td>
    </tr>
  <tr>
      <td>
        Location:
      </td>
      <td>
        <p><strong>Wadala</strong></p>

      </td>
    </tr>
  <tr>
      <td colspan="3">
        Description:
      </td>
  </tr>
      <tr>
        <td colspan="2">
          <p><strong>hiiiiiiiiiii,sdfgsdfsd</strong></p>

                 </td>
      </tr>

  <tr>
      <td>
        <input type="button" value="Accept">
        <td>
          <tr>
            <td>
              <input type="button" value="Decline" id="dec">

            </td>
            <td>
              <div id="decl" >
                <textarea name="textarea"></textarea>
                <input type="button" value="send" >
              </div>


                </td>
          </tr>
  <tr>
    <td>
      <input type="button" value="Tentative" id="nt">

        </td>
    <td>
      <div id="nots" >
                      <textarea name="textarea"></textarea>
                      <input type="button" value="send" >
                    </div>

    </td>
  </tr>

  <!--//<tr>-->
    <!--<td>-->
      <!--Feedback:-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->

    <!--<td colspan="2">-->
      <!--<textarea name="textarea" id="text" ></textarea>-->
   <!--</tr>-->
    <!--</td>-->
    <!--<tr>-->
     <!--<td colspan="2">-->
       <!--<input type="button" value="Feedback" id="checkMe">-->
     <!--</td>-->
  <!--</tr>-->

</table>



