
<!--<div data-role="navbar">-->
  <!--<ul>-->
    <!--<li><a href="meetings/new" data-role="button" data-ajax=false>New</a></li>-->
    <!--<li><a href="meetings/show" data-role="button" data-ajax=false>Show meeting</a></li>-->
    <!--<li><a href="reply" data-role="button" data-ajax=false class="ui-btn-active">Reply </a></li>-->
  <!--</ul>-->
<!--</div>-->

  <br>
<br>
<div class="content_container" data-theme="a">

  <strong> From:</strong>
  Prakesh

  <br><br>

  <strong> To:</strong>


  <div data-role="collapsible" data-theme="a" data-content-theme="c">
    <h2>Sent to:</h2>
    <ul data-role="listview">
      <li data-icon="false"><a href="#">Acura</a></li>
      <li data-icon="false"><a href="#">Audi</a></li>
      <li data-icon="false"><a href="#">BMW</a></li>
      <li data-icon="false"><a href="#">Cadillac</a></li>
      <li data-icon="false"><a href="#">Chrysler</a></li>
    </ul>
  </div>


  <strong>Day:</strong>


  Mahatama Gandhi Day
  <br>
  <br>
  <strong>Time:</strong>

  12:15 PM


  <br> <br>

  <strong>Location:</strong>

  Wadala
  <br>
  <br>
  <strong>Description:</strong>


  Meetings Discriptionrtdddgf
  <br>
  <input type="button" value="Accept">

  <div data-role="collapsible" data-theme="a" data-content-theme="c">
    <h2>Decline</h2>
    <ul data-role="listview">
      <li><textarea></textarea></li>
      <li><input type="button" value="send" data-theme="a"></li>
    </ul>

  </div>
</div>

