<html>
<body>
<p>'Hi, An alumni is trying to set up a meeting with you through Procialize.</p>
<p><a href="http://isb.procialize.net/?utm_source=meetingnotificationalert&utm_medium=email&utm_content=text&utm_campaign=isb_solstice">Click here</a> to access the message.</p>

<p>Regards,</p>

<p>Alumni Relations</p>

</body>
</html>
