<html>
<body>
<p>'Hi, you have received a meeting request on your CII's Financial Distribution Summit 2013 Account. </p>
<p><a href="http://ciifds.procialize.net/?utm_source=enemailrecommendations&utm_medium=email&utm_content=text&utm_campaign=procialize_events">Click here</a> to view it.</p>

<p>Regards,</p>

<p>CII - Western Region</p>

</body>
</html>
