<html>
<head>
</head>
<body>


<!--<b>Subject: Your login/password to access Procialize</b><br><br>-->
<span>Dear <%= @invitee.name %>,</span><br><br>


<p>We want to ensure the Conference is the perfect channel for you to build your network.</p>

<ol>
  <li>You will be live on Procialize! Based on our  system we feel you might be interested in
    interacting with:
  </li>
  <br>
</ol>

<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", ").each do |r| %>
          <% @reco= User.find_by_name(r)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>

            <% if @reco.location!="" %>
             who is in  <%= @reco.location %>
            <% end %>
            <% if @reco.industry!="" %>
              in  <%= @reco.industry %> industry
            <% end %>
          </li>
      <% end %>
  <% end %>
</ol>


</body>

</html>

