<html>
<head>
</head>
<body>


<span>Dear <%= @invitee.name %>,</span><br><br>

<p>We are pleased to announce the launch of the Official Mobile Website for CII's Health and Hospital Tech 2013. As a visitor based on serious networking, you now have a chance of setting up your meetings before you even arrive at the event.</p>

<p>
<ol>
  <li>From your smartphone, tablet, laptop, PC or any device, <a href="http://ciihnh.procialize.net/?utm_source=temailrecommendations&utm_medium=email&utm_content=text&utm_campaign=procialize_events">Click Here to Login</a> (This is a mobile website, you will not need to download any app!)</li>
  <li><b>Enter your email as: <%= @invitee.email %></b></li>
  <li><b>Enter your password as: procialize </b></li>
  <li>You will be live on the CII's Health and Hospital Tech Mobile Website!</li>
</ol>


<p>You can access this website from any device with internet. Using this website you can</p>
<ol>
  <li>View event schedule, speaker details and RSVP for events.</li>
  <li> Search for delegates based on name, company, industry, functionality and location. You can then send messages, and set up meetings.</li>
  <li>You can also view exhibitor lists and download their profiles.</li>  
</ol>

<p>Based on our recommendation mechanism, we feel you should start networking immediately with the following people</p>

<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", ").each do |r| %>
          <%#= @user_new<<User.find_by_name(r) %>
          <% @reco= User.find_by_name(r)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>
            <% if !@reco.company.blank? %>
                from <%= @reco.company %>
            <% end %>
          </li>
      <% end %>
  <% end %>
</ol>


<h3>You can also log in using your LinkedIN Profile</h3>
<p>So go ahead, <a href="http://ciihnh.procialize.net/?utm_source=temailrecommendations&utm_medium=email&utm_content=text&utm_campaign=procialize_events">LOGIN NOW BY CLICKING HERE</a>, to begin contacting your network worthy contacts.</p>
<p>Warm Regards,</p>
<p>CII - Western Region</p>

</body>

</html>

