<html>
<head>
</head>
<body>


<!--<b>Subject: Your login/password to access Procialize</b><br><br>-->
<span>Dear <%= @invitee.name %>,</span><br><br>

<p>We welcome you to the annual "Sports and Games Association" Offsite. This conference promises
  to be an immense value add, where we have chosen some crucial topics related to Games and Sports in everyday management, and have been
  fortunate to have them delivered by highly coveted speakers. </p>

<p>We want to ensure the Conference is the perfect channel for you to build your network. To do this conveniently, we
  have tied up with the Sports and Games Association to ensure you are able to </p>
<ol>
  <li>Search, find, message and set up meetings with other delegates based on any specific commonality, before the event
    begins!
  </li>
  <li>Take advantage of our recommendation system to quickly connect with others based on
    industry/functionality/previous institution or 'Interested in' matches.
  </li>
  <li>View other delegate's company profiles, in order to form promising partnerships.</li>
  <li>Communicate with others before, during and after events.</li>
  <li>View event schedule, speaker profiles and rate sessions.</li>
  <li>Interact with speakers by posting questions, viewing profiles, and giving feedback</li>
</ol>
<p>To access Procialize, follow these 4 easy steps

<p>

<ol>
  <li>From your smartphone, type http://proconf.ptotemy.com (This is a mobile website,
    <b>you will not need to download any app!</b>)
  </li>
  <li><b>Enter your email as: <%= @invitee.email %></b></li>
  <li><b>Enter your password as: procialize </b></li>
  <li>You will be live on Procialize! Based on our SmartRecommender system we feel you might be interested in
    interacting with:
  </li>
  </ul>
  <br>
</ol>

<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", ").each do |r| %>
          <%#= @user_new<<User.find_by_name(r) %>
          <% @reco= User.find_by_name(r)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>
          </li>
      <% end %>
  <% end %>
</ol>

<p>Click on Delegates on the home screen to send instant messages or set up meetings to the users listed above. You can
  also send a message or set up a meeting with any other user attending the conference.</p>

<p><b>View the entire event schedule on your phone :-</b>Use Procialize to see which event is lined up next. On the home
  screen, click on Events</p>

<p><b>Posting Questions: Have a question / observation you want to share with any particular speaker or topic?</b> Click
  on questions on the home screen, type your question/comment and select the speaker/session for whom this question is
  directed towards.

<p><b>Your feedback is important! Rate Session :-</b> After each session, you can now rate how useful or important did
  you find the session. Click on Feedback on the Home Screen.</p>

<p><b> Any queries/ troubleshooting:-</b> For any problems, you can click on Contact Admin on the Home Screen.</p>

<br>

<p><b>Due to several requests from delegates, we are extending time for sending the one page company profile' till 12
  noon. By 4 pm you will be able to see profiles of several of your delegates. In case you haven't send in your one page
  company profile pdf as soon as possible.</b></p>


<p>So go ahead, make the most of this Conference, and start expanding your professional network now! For any doubts,
  queries or concerns, you can send me a mail on abhay_bhatia2013@pgp.isb.edu .</p><br>


<p>Thanks and Regards,</p>

<h5>Abhay Bhatia</h5>
  Co-Founder and Chief Enthusiast - Procialize Events (www.procialize.net)<br>

</body>

</html>

