<html>
<head>
</head>
<body>


<span>Dear <%= @invitee.name %>,</span><br><br>

<p>On behalf of ISB, we are extremely happy to welcome you on board Solstice 2013. We are also happy to announce our official web app for Solstice. With this app you can</p>

<ol>
  <li>View up to date event schedule, tweets, messages and meeting requests</li>
  <li>Search for other alumni based on Class, Company, Designation, and Name</li>
  <li>Post updates on the event wall.</li>
</ol>

<p>To access the Mobile Website, follow these 4 easy steps:</p>


<p>
<ol>
  <li>From your smartphone, tablet, laptop, PC or any device, <a href='http://isb.procialize.net/?utm_source=trigger_reco&utm_medium=email&utm_content=text&utm_campaign=isb_solstice'>Click Here</a> (This is a mobile website, you will not need to download any app!)
  </li>
  <li><b>Enter your email as: <%= @invitee.email %></b></li>
  <li><b>Enter your password as: procialize </b></li>
  <li>You will be live on the ISB Solstice 2013 Mobile Website! Based on our SmartRecommender system we feel you might be interested in interacting with:
  </li>
  <br>
</ol>

<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", ").each do |r| %>
          <%#= @user_new<<User.find_by_name(r) %>
          <% @reco= User.find_by_name(r)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>
            <% if !@reco.company.blank? %>
                from <%= @reco.company %>
            <% end %>
          </li>
      <% end %>
  <% end %>
</ol>


<p>What's more, we are happy to give you give you tonnes of discount coupons and freebies on using the product.</p>

<p>So log-in now, and utilize your 3 days at ISB to the fullest.</p>

<br>


<p>Warm Regards,</p>

<h5>On behalf of Alumni Relations, ISB</h5>
<h5>Team Procialize</h5>

</body>

</html>
