<html>
<head>
</head>
<body>


<b>Subject: Start interacting with exhibitors, delegates and speakers of CORCON 2013 Now!</b><br><br>
<span>Dear <%= @invitee.name %>,</span><br><br>

<p>On behalf of the NACE International Gateway India Section, we welcome you to  CORCON 2013 - the conference and expo on corrosion. This conference promises to be an immense value add, where we have chosen some crucial topics related to corrosion protection, and have been fortunate to have our conference sessions delivered by highly coveted speakers.</p>

<p>To access The CORCON Mobile Website, follow these 4 easy steps:</p>


<p>
<ol>
  <li>From your smartphone, tablet, laptop, PC or any device, type http://corcon2013procialize.net (This is a mobile website, you will not need to download any app!)
  </li>
  <li><b>Enter your email as: <%= @invitee.email %></b></li>
  <li><b>Enter your password as: procialize </b></li>
  <li>You will be live on the CORCON Mobile Website! Based on our SmartRecommender system we feel you might be interested in interacting with:
  </li>
  <br>
</ol>

<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", ").each do |r| %>
          <%#= @user_new<<User.find_by_name(r) %>
          <% @reco= User.find_by_name(r)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>
          </li>
      <% end %>
  <% end %>
</ol>

<p>We want to ensure that CORCON 2013 is the perfect channel for you to build your network. To do this conveniently, we have tied up with NACE to ensure you are able to</p>
<ol>
  <li>Search, find, message and set up meetings with other delegates based on any specific commonality, before the event begins!</li>
  <li>Take advantage of our recommendation system to quickly connect with others based on industry/functionality/previous institution or 'Interested in' matches.</li>
  <li>View other delegate's company profiles, in order to form promising partnerships.</li>
  <li>Communicate with others before, during and after events.</li>
  <li>View event schedule, speaker profiles and rate sessions.</li>
  <li>Interact with speakers by posting questions, viewing profiles, and giving feedback</li>
</ol>


<p>Click on Delegates on the home screen to send instant messages or set up meetings to the users listed above. You can also send a message or set up a meeting with any other user attending the conference.</p>

<p>View the entire event schedule on your phone:Use Procialize to see which event is lined up next. On the home screen, click on Events.</p>

<p>Posting Questions: Have a question / observation you want to share with any particular speaker or topic?</p>

<p>Click on questions on the home screen, type your question/comment and select the speaker/session for whom this question is directed towards.</p>

<br>

<p>Your feedback is important! Rate Session :- After each session, you can now rate how useful or important did you find the session. Click on Feedback on the Home Screen.</p>


<p>Any queries/ troubleshooting:- For any problems, you can click on Contact Admin on the Home Screen.</p><br>

<p>So go ahead, make the most of this Conference, and start expanding your professional network now! For any doubts, queries or concerns, you can email us at Procialize@gmail.com, or write back to Ketaki Kadekar at ketaki@procialize.net or call on +919930809523</p>

<p>Warm Regards,</p>

<h5>Team CORCON</h5>


</body>

</html>

