<html>
<head>
</head>
<body>


<span>Dear <%= @invitee.name %>,</span><br><br>

<p>On behalf of i2i Events Group, we welcome you to the CWIEME, 2013 - The World's largest International Coil Winding, Insulations & Electrical Manufacturing Exhibition. </p>

<p>To access CWIEME 2013 Mobile Website, follow these 5 easy steps:</p>


<p>
<ol>
  <li>From your smartphone, tablet, laptop, PC or any device, type http://cwieme2013.procialize.net (This is a mobile website, you will not need to download any app!)</li>
  <li><b>Enter your email as: <%= @invitee.email %></b></li>
  <li><b>Enter your password as: procialize </b></li>
  <li>You will be live on the CWIEME Mobile Website! </li>
  <li> REGISTER for the CWIEME 2013 and based on our SmartRecommender system we feel you might be interested in interacting with:</li>
</ol>




<ol>
  <% @user=User.find_by_email(@invitee.email) %>
     <% @user_new=Array.new %>
  <% if !@user.recommend.nil? %>
      <% @user.recommend.split(", " ).each do |r| %>
          <%#= @user_new<<User.find_by_name(r) %>
          <% @reco= User.find_by_name(r.strip)%>
          <% @user_new << @reco %>
          <li>
            <%= @reco.name.titlecase %>
            <% if !@reco.company.blank? %>
                from <%= @reco.company %>
            <% end %>
          </li>
      <% end %>
  <% end %>
</ol>

<p>We want to assure you that CWIEME 2013 is the perfect channel for you to build your network. To do this conveniently, we have tied up with i2i Events Group to ensure you are able to.</p>
<ol>
  <li>Search, find, message and set up meetings with other delegates </li>
  <li>Quickly connect with others based on industry/designation/company/location </li>
  <li>View other delegate's profiles, in order to form promising partnerships </li>
  <li>Communicate with others before, during and after events</li>
  <li>View event schedule, speaker profiles and rate sessions</li>
  <li>Interact with speakers by posting questions, viewing profiles, and giving feedback</li>
</ol>



<p>So go ahead, make the most of this Summit, and start expanding your professional network now! For any doubts, queries or concerns contact Ketaki Kadekar at ketaki@procialize.net or call on +919930809523.</p>
<p>Warm Regards,</p>
<p>i2i Events Group - Team Procialize</p>

</body>

</html>

