<div class="content_container" style="background: rgba(201, 226, 121, 0.98);text-align: center; padding:40px;">
  <h2>Solstice 2012</h2>

  <h3>3 days, 300+ Alumni</h3>
  <h4>Don’t just socialize...</h4>
  <span style="color:white;font-size: 40px;font-weight:bold; ">Pro</span><span style="color:#000000;font-size: 40px;font-weight:bold;">cialize</span>
  <h5>www.procialize.net</h5>
  <br>
  <br>

  <div style="border: 2px solid black; background: white;">
    <ul style="list-style: none">
      <li>Get instant notifications, event updates and schedule on your phone</li>
      <li>Search and connect with your long-lost class mates</li>
      <li>Register for events with your buddies, and ensure your having all having fun together</li>
      <li>Schedule meetings with any alum attending the event</li>
      <li>Post what you feel! Let everyone know what’s on your mind</li>
      <li> Find out more about your classmate’s career, through a LinkedIN sign in</li>
      <li>Stay connected with organizers, and give them feedback</li>
      <li>No Wi-fi, 3G etc. needed. Procialize woks on EDGE</li>
      <li>No downloading of any app, Procialize works on all smartphones!</li>
    </ul>
  </div>

  <br>


  <h3>Register now! And get to know who else will be there! Log on to</h3>
  <h5>www.procialize.net</h5>
  <h6>from your smartphone</h6>
</div>

