<% content_for :page_title do %>
    Messages
<% end %>



<h1>
 Message Reply
</h1>
<ul data-role="listview" data-theme="a" data-divider-theme="d">
<li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>
<li>

      					<h3> From: Stephen Weber</h3>
      					<p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
      					<p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
      					<p class="ui-li-aside"><strong>6:24</strong>PM</p>

 </li>
 </ul>
<hr>
<h3>Reply</h3>
<table>
  <tr>
    <td>
      <!--<textarea name="textarea" id="textarea"></textarea>-->


    </td>
  </tr>
</table>
<table>
  <tr>
    <td>

      <input type="submit" value="Reply" />

    </td>
  </tr>
</table>
 <%= link_to "Back to inbox", :controller => "message", :action => "index" %>

