<div style="margin-bottom: 20px;">

  <div class="big-button-bar">
        <a class="button large eventer" href="/desktop_events">
          <i class=" icon-calendar "></i>
          <span>Events</span>
        </a>

        <a class="button large delegater" href="/delegates_search">
          <i class="icon-group"></i>
          <span>Delegates</span>
        </a>

        <a class="button large speakinger" href="/desktop_speaker">
          <i class="icon-user"></i>
          <span>Speakers</span>
        </a>

        <!--<a class="button large questioner" href="/desktop_ask_question">-->
          <!--<i class="icon-question-sign "></i>-->
          <!--<span>Questions</span>-->
        <!--</a>-->

        <!--<a class="button large feedbacker" href="/desktop_ratings">-->
          <!--<i class="icon-volume-up"></i>-->
          <!--<span>Feedback</span>-->
        <!--</a>-->

        <a class="button large downloadables" href="/desktop_assets_download">
          <i class=" icon-folder-open"></i>
          <span>Download</span>
        </a>
  </div>

</div>