<%= content_for :page_title do %>
    Knowledge Center
<% end %>




<ul data-role="listview" data-theme="a" data-divider-theme="d" data-filter-placeholder="Search by events to download" data-split-icon='star' data-mini="true" data-filter="true">
  <% @assets_downloads.each do |e| %>
      <%if e.downloadable.url!='/avatars/original/missing.png'%>
          <% @event_id= e.track_id%>

          <li data-icon="file-text"><a target="_blank" class="index_styling" href="<%=e.downloadable.url%>" data-ajax=false>
            <p><%= @event_name=Track.find(@event_id).name %></p>
            <%= e.downloadable.original_filename %></a></li>
      <% end %>
  <% end %>
</ul>


