<script type="text/javascript">
  $(function(){
      $('.footer_link').removeClass('ui-btn-active');
      $('#home_link').addClass('ui-btn-active');
  })
</script>

<div class="ui-grid-a">
  <div class="ui-block-a">
    <%= image_tag @photo %>
  </div>
  <div class="ui-block-b">
    <h4><%= @name %></h4>
    <h5><%= @headline %></h5>
  </div>
</div>


