<%= content_for :page_title do %>
Procialize
<% end %>

<div class="ui-grid-a">
  <%= image_tag @photo, :style => "float:left; border-radius:5px;margin-right:10px;" %>
  <h4><%= @name %>
    <br>
    <small><%= @headline %></small>
  </h4>
</div>


