<%= content_for :page_title do %>
    Events
<% end %>

<div data-role="content" id="categoriesContent">
  <ul data-role="listview" data-theme="d" data-dividertheme="c" data-counttheme="b">
    <h4>Event List</h4>
    <% Track.all.each do |e| %>
        <li>
          <a href="/events/<%= e.id %>" data-ajax=false>
            <p><%= e.name.truncate(25) %></p>
            <p class="ui-li-aside"><%= e.start %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>















