<%= content_for :page_title do %>
    Events
<% end %>




<div data-role="content" id="categoriesContent">
  <ul data-role="listview" data-theme="d" data-dividertheme="c" data-counttheme="b">
    <h4>Event List</h4>
    <% Track.all.each do |e| %>
     <li>
       <a href="/events/<%= e.id %>" data-ajax=false>
         <p><%= e.name.truncate(30) %></p>
         <p class="ui-li-aside"><%= e.start %></p>
       </a>
     </li>
    <% end %>
  </ul>
</div>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41279198-1', '127.0.0.1:3000');
    ga('send', 'pageview');

</script>













