<div class="fbinfobox">
  <div class="ui-grid-a">

    <div class="ui-block-a">

      <%# @event_days.each do |e| %>
          <%#= e.name %>
          <%# end %>

      <table>
        <%= image_tag @event.avatar.url %>

      </table>



    </div>
    <div class="ui-block-b">

      <h2>Event Name</h2>
      <h4><%= link_to @event.name, :action => "show" %></h4>




    </div>
  </div>

</div>

