<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @invitee.name %>
</p>

<p>
  <b>Email:</b>
  <%= @invitee.email %>
</p>

<a href="/invitees" data-role=button data-icon="home" data-theme='a' data-ajax=false>Invitees list</a></li>
<%#= link_to 'Edit' ,edit_invitee_path(@invitee)%>
<%#= link_to 'Back', invitees_path %>
