<%= form_for(@noir_quiz) do |f| %>
    <% if @noir_quiz.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@noir_quiz.errors.count, "error") %> prohibited this noir_quiz from being saved:</h2>

          <ul>
            <% @noir_quiz.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>





<% end %>
