<link rel="stylesheet" href="/assets/idangerous.swiper.css">
<link rel="stylesheet" href="/assets/movies-app.css">

<div class="ui-grid-b" style="margin: 0 auto;">
  <div class="ui-block-a">
      <h3>Case Name</h3>
  </div>

  <div class="ui-block-a">
        <div class="swiper-container swiper-content">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="inner">
                <img class="movie-pic_product" src="/assets/AdiGodrej.jpg" height="100" width="100" alt="">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="inner">
                <img class="movie-pic_product" src="/assets/AdiGodrej.jpg" height="100" width="100" alt="">
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="inner">
                <img class="movie-pic_product" src="/assets/AdiGodrej.jpg" height="100" width="100" alt="">
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

  </div>
  <div class="ui-block-a">
      <h3>Instruction</h3>
  </div>
  <div class="ui-block-a">
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" data-role="button" class="noir_answer">Yes</a>
      <a href="#" data-role="button" class="noir_answer">No</a>
      <a href="#" data-role="button" class="noir_answer">Maybe</a>
    </div>
  </div>


</div>


<script src="/assets/idangerous.swiper-2.0.min.js"></script>
<script src="/assets/movies-app.js"></script>


<script type="text/javascript">
  $(function(){
      $('.noir_answer').on('click',function(){
          var data = { user_id:[], noir_answer:[]}
          data["user_id"].push('<%= current_user.id%>');
          data["noir_answer"].push($(this).text());
          $.ajax({
              url:"<%= noir_case_path %>",
              type:"post",
              data:JSON.stringify(data),
              contentType:"application/json",
              success:function (data) {

              }
          });
      })
  })
</script>

