/* Variable Definitions for Bootstrap*/

/* Start Generic Layout Definitions*/

body {
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

/* End Generic Layout Definitions*/

/* _______________________________________________________________ */

/* Start Login Page Definitions*/

#title_text_front_page {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    font-weight: bold;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* End Login Page Definitions */

/* _______________________________________________________________ */

/* Start Profile page Definitions*/

.fbinfobox {
    background: white;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

h3, h4, h5, h6 {
    line-height: 16px;
}

.fbinfo {
    background-color: #CCCCCC;
    color: #333333;
    font-weight: bold;
    height: 15%;
    text-align: right;
    border-radius: 10px;
    margin-top: 2px;

}

#profile-image {
    max-width: 20%;
    border-radius: 2px;
}

/* End Profile Page Definitions */

/* _______________________________________________________________ */

/* Start Event page Definitions*/

.fbinfo1 {
    text-align: right;
}

.fbbluebox {

    background: white;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/* End Event Page Definitions */

/* _______________________________________________________________ */

/* Start Message page Definitions*/

.msg {
    margin-left: 25px;
}

/* End Message Page Definitions */

/* _______________________________________________________________ */

/*.fullwidth {*/
/*width: 100%;*/
/*}*/

/*.halfwidth {*/
/*width: 50%;*/
/*}*/

/*.fullheight {*/
/*height: 100%;*/
/*}*/

/*#pa1 {*/
/*text-align: center;*/
/*font-weight: bold;*/
/*color: #80ff00;*/
/*margin-top: 1%;*/
/*margin-left: 12%;*/
/*}*/

/*#siup {*/
/*margin-top: 2%;*/
/*margin-left: 40%;*/
/*text-align: center;*/
/*font-weight: bold;*/
/*border: 1px solid #000000;*/
/*background: black;*/
/*color: #80ff00;*/
/*}*/

/*.appback {*/
/*background: #cdeb8e; *//* Old browsers */
/*background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956)); *//* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); *//* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); *//* Opera 11.10+ */
/*background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); *//* IE10+ */
/*background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%); *//* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cdeb8e', endColorstr = '#a5c956', GradientType = 0); *//* IE6-9 */
/*}*/

/*.appbar {*/
/*background: #7d7e7d; *//* Old browsers */
/*background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); *//* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e)); *//* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); *//* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); *//* Opera 11.10+ */
/*background: -ms-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); *//* IE10+ */
/*background: linear-gradient(to right, #7d7e7d 0%, #0e0e0e 100%); *//* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7d7e7d', endColorstr = '#0e0e0e', GradientType = 1); *//* IE6-9 */
/*}*/

/*.appcolor {*/
/*background: black;*/
/*font-weight: bold;*/
/*}*/

/*#menu-bar {*/
/*margin: 0px 0px 0px 0px;*/
/*padding: 6px 6px 0px 6px;*/
/*height: 100px;*/
/*background: black;*/
/*}*/

/*#title_block {*/
/*margin: 0px 0px 0px 0px;*/
/*padding: 6px 6px 0px 6px;*/
/*height: 30%;*/
/*background: black;*/
/*}*/

/*#log {*/
/*margin-left: 94.5%;*/
/*margin-top: 6%;*/
/*}*/

/*#sign_up {*/

/*margin-left: 93.1%;*/
/*height: 40%;*/

/*}*/

/*#search {*/
/*margin-top: 5%;*/
/*margin-left: 10%;*/
/*}*/

/*.content {*/
/*width: 960px;*/
/*height: 100%;*/
/*border: 1px solid black;*/
/*padding: 17px;*/

/*background: #ffffff;*/
/*overflow:auto;*/
/*}*/

/*.login {*/

/*height: 400px;*/
/*margin-left: 295px;*/
/*margin-top: 128px;*/
/*width: 400px;*/
/*}*/

/*#topbar-right {*/
/*margin-left: 95%;*/
/*margin-top: -1%;*/
/*}*/

/*.broadcast {*/
/*margin-top: 7%;*/
/*}*/

/*.fbinfobox1 {*/
/*background-color: #f7f7f7;*/
/*border: 1px solid #e2c822;*/
/*color: #333333;*/
/*padding: 10px;*/
/*font-size: 13px;*/
/*font-weight: bold;*/
/*margin: 0;*/
/*padding: 10px 0 200px 21px;*/
/*}*/

/*.fbbluebox {*/
/*background: none repeat scroll 0 0 black;*/
/*font-size: 13px;*/
/*font-weight: bold;*/
/*height: 100%;*/
/*margin-left: 0;*/
/*margin-top: 5%;*/
/*width: 123%;*/
/*}*/

/*#fbinfo {*/
/*background-color: #CCCCCC;*/
/*color: #333333;*/
/*font-weight: bold;*/
/*height: 15%;*/
/*margin-left: 0;*/
/*margin-top: 0;*/
/*width: 123%;*/
/*text-align: right;*/
/*padding-top: 1%;*/
/*}*/

/*#button {*/
/*margin-top: 3%;*/
/*margin-left: 0.9%;*/
/*}*/

/*#button1 {*/
/*margin-top: 6%;*/
/*margin-left: 0.9%;*/
/*}*/

/*#button2 {*/
/*margin-top: 3%;*/
/*margin-left: 0.9%;*/
/*}*/

/*#button3 {*/
/*margin-top: 1%;*/
/*margin-left: 0.9%;*/
/*}*/

/*#button4 {*/
/*margin-right: 20%;*/
/*margin-top: 1%;*/
/*}*/

/*#button5 {*/
/*margin-right: 0;*/
/*margin-top: 4%;*/
/*}*/

/*#button6 {*/
/*margin-right: 0;*/
/*margin-top: 4%;*/
/*}*/

/*#button7 {*/
/*margin-right: 0;*/
/*margin-top: 4%;*/
/*}*/

/*#button8 {*/
/*margin-right: 0;*/
/*margin-top: 4%;*/
/*}*/

/*#details {*/
/*width: 80%;*/
/*height: 25%;*/

/*}*/

/*.fbgreybox {*/
/*background-color: #f7f7f7;*/
/*border: 1px solid #cccccc;*/
/*color: #333333;*/
/*padding: 10px;*/
/*font-size: 13px;*/
/*font-weight: bold;*/
/*margin: 0;*/
/*padding: 10px 0 200px 21px;*/

/*}*/

/*.fberrorbox {*/
/*background-color: #f7f7f7;*/
/*border: 1px solid #dd3c10;*/
/*color: #333333;*/
/*padding: 10px;*/
/*font-size: 13px;*/
/*font-weight: bold;*/
/*margin: 0;*/
/*padding: 10px 0 200px 21px;*/
/*}*/

/*.update-content {*/
/*margin: 68px 225px 0 3px;*/
/*padding: 7px;*/
/*}*/

/*#fbinfo1 {*/
/*background-color: #CCCCCC;*/
/*color: #333333;*/
/*font-weight: bold;*/
/*height: 15%;*/
/*margin-left: 0;*/
/*margin-top: 0;*/
/*width: 123%;*/
/*text-align: right;*/
/*padding-top: 1%;*/
/*}*/

/*#image {*/
/*height: 200%;*/
/*margin-left: 1%;*/
/*margin-top: 7%;*/
/*width: 12%;*/
/*}*/

/*#image1 {*/
/*height: 200%;*/
/*margin-left: 1%;*/
/*margin-top: 7%;*/
/*width: 12%;*/
/*}*/

/*.image2 {*/
/*height: 200%;*/
/*margin-left: 1%;*/
/*margin-top: 5%;*/
/*width: 12%;*/
/*}*/

/*.image3 {*/
/*height: 100px;*/
/*margin-left: 1%;*/
/*margin-top: 5%;*/
/*width: 100px;*/
/*}*/

/*#imgtab {*/
/*margin-left: 1%;*/
/*margin-top: 16%;*/

/*}*/

/*#profile {*/
/*font-size: 140%;*/
/*font-weight: bold;*/
/*margin-left: 20%;*/
/*margin-top: -9%;*/
/*}*/

/*#profile1 {*/
/*font-size: 140%;*/
/*font-weight: bold;*/
/*margin-left: 20%;*/
/*margin-top: -9%;*/
/*}*/

/*#area {*/
/*height: 100%;*/
/*margin-left: -75%;*/
/*width: 165%;*/
/*}*/

/*#pro {*/
/*height: 118px;*/
/*margin-left: -479px;*/
/*width: 579px;*/
/*font-weight: bold;*/
/*}*/

/*#event1 {*/

/*border: 1px solid red;*/
/*height: 115px;*/
/*margin-left: 6px;*/
/*margin-top: -16px;*/
/*width: 576px;*/
/*background: #000000;*/
/*color: #80ff00;*/

/*}*/

/*#event2 {*/

/*background: #000000;*/
/*border: 1px solid red;*/
/*height: 115px;*/
/*margin-left: 6px;*/
/*margin-top: 34px;*/
/*width: 576px;*/
/*color: #80ff00;*/

/*}*/

/*#event {*/

/*background: #000000;*/
/*border: 1px solid red;*/
/*height: 115px;*/
/*margin-left: 6px;*/
/*margin-top: -20px;*/
/*width: 576px;*/
/*color: #80ff00;*/

/*}*/

/*#tab {*/
/*height: 48px;*/
/*margin-left: 18px;*/
/*margin-top: -36px;*/
/*width: 169px;*/
/*}*/

/*.back {*/
/*text-align: center;*/
/*background: none repeat scroll 0 0 black;*/
/*color: #80FF00;*/
/*font-weight: bold;*/
/*margin-left: 1.3%;*/
/*margin-top: 76%;*/
/*padding: 0.1%;*/
/*width: 5%;*/
/*position: fixed;*/
/*}*/

/*.back1 {*/
/*text-align: center;*/
/*background: none repeat scroll 0 0 black;*/
/*color: #80FF00;*/
/*font-weight: bold;*/
/*margin-left: 0.1%;*/
/*margin-top: 2%;*/
/*padding: 0.1%;*/
/*width: 5%;*/
/*position: fixed;*/
/*}*/

/*#event3 {*/
/*background: none repeat scroll 0 0 #000000;*/
/*color: #80FF00;*/
/*height: 115px;*/
/*margin-left: -479px;*/
/*margin-top: 20px;*/
/*width: 576px;*/
/*}*/

/*#event4 {*/
/*background: none repeat scroll 0 0 #000000;*/
/*color: #80FF00;*/
/*height: 115px;*/
/*margin-left: -479px;*/
/*margin-top: 73px;*/
/*width: 576px;*/
/*}*/

/*.login_table tr {*/
/*width: 20%;*/
/*}*/

/*.login_table tr td {*/
/*width: 20%;*/
/*text-align: center;*/
/*}*/

/*#username #password {*/
/*width: 50%;*/
/*margin: 0 auto;*/
/*font-size: 125%;*/
/*}*/

/*#inbutton {*/
/*font-size: 300%;*/
/*text-align: center;*/
/*}*/

/*.logintext {*/
/*color: #ccff71;*/
/*font-weight: bold;*/
/*padding: 1%;*/
/*width: 100%;*/
/*border: 2px solid #cdeb8e;*/
/*}*/

/*.logincolor {*/
/*background: black;*/
/*font-weight: bold;*/
/*border: 2px solid #cdeb8e;*/
/*}*/

/*.titlebar*/
/*{*/
/*border: 1px solid red;*/
/*height: 60%;*/
/*}*/





