<% content_for :page_title do %>
    Meetings
<% end %>


<h1>New Meeting</h1>
<table>
  <tr>
      <td>
       To
    </td>
    <td>
      <input type="text" >
    </td>
  </tr>
  <tr>
      <td>
        Day
      </td>
      <td>
        <input type="text" >
      </td>
    </tr>
  <tr>
      <td>
        Time
      </td>
      <td>
        <input type="text" >
      </td>
    </tr>
  <tr>
      <td>
        Location
      </td>
      <td>
        <input type="text" >
      </td>
    </tr>
  <tr>
      <td colspan="2">
        Description
      </td>
  </tr>
      <tr>
        <td colspan="2">
          <textarea name="textarea" id="textarea"></textarea>
        </td>
      </tr>
</table>
<table style="margin-left: 50px">
  <tr>
        <td>
          <input type="button" value="Send">
        </td>
        <td>
      <input type="button" value="cancel">

        </td>

      </tr>
</table>





