 <script>
     $('#p1').hide();
        $("#choice-2").click(function() {
            $('#p1').toggle();
        });
     $('#p2').hide();
           $("#choice-3").click(function() {
               $('#p2').toggle();
           });
 </script>


<h1>Meeting Details</h1>
<table>
  <tr>
      <td>
        From:
      </td>
      <td>
        <p><strong>Rakesh</strong></p>

      </td>
    </tr>

  <tr>
    <td>
      Date:
    </td>
    <td>
      <p><strong>21/01/2013</strong></p>

    </td>
  </tr>
  <tr>
    <td>
      Time:
    </td>
    <td>
      <p><strong>03:15 PM</strong></p>

    </td>
  </tr>

  <tr>
    <td>
      Location:
    </td>
    <td>
      <p><strong>mumbai</strong></p>

    </td>
  </tr>
  <tr>
    <td>
      Description:
    </td>
    <td>
      <p><strong></strong></p>

    </td>
  </tr>
  <tr>
    <td>
      Accepted
    </td>
    <td>
      <select name="select-choice-1" id="select-choice-1" data-theme="b" tabindex="-1">
      <option value="standard">Nilesh</option>
      <option value="rush">Juan Griego</option>
      <option value="express">La Asuncion</option>
      <option value="overnight">Manzanillo</option>
      <option value="altagracia">Altagracia</option>
      <option value="taguantar">Taguantar</option>
    </select>
    </td>

  </tr>
  <tr>
    <td>Declined</td>
    <td><select name="select-choice-1" id="choice-2" data-theme="b" tabindex="-1">
      <option value="standard">Rakesh</option>
      <option value="rush">Juan Griego</option>
      <option value="express">La Asuncion</option>
      <option value="overnight">Manzanillo</option>
      <option value="altagracia">Altagracia</option>
      <option value="taguantar">Taguantar</option>
    </select></td>
    <td>
      <p id="p1"><strong>Commentsssss</strong></p>

    </td>
  </tr>
  <tr>
     <td>Tentative</td>
     <td><select name="select-choice-1" id="choice-3" data-theme="b" tabindex="-1">
       <option value="standard">Russs</option>
       <option value="rush">Juan Griego</option>
       <option value="express">La Asuncion</option>
       <option value="overnight">Manzanillo</option>
       <option value="altagracia">Altagracia</option>
       <option value="taguantar">Taguantar</option>
     </select></td>
     <td>
       <p id="p2"><strong>Commentsssss</strong></p>

     <!--</td>-->
   <!--</tr>-->
  <!--<tr>-->

  <!--<td>-->
    <!--<input type="button" value="Accept">-->

  <!--</td>-->
  <!--<td>-->
    <!--<input type="button" value="Declined">-->

  <!--</td>-->
  <!--<td>-->
    <!--<input type="button" value="Not Sure">-->

  <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<tr>-->
      <!--<td>Feedback</td>-->
      <!--</tr>-->

    <!--<td colspan="2">-->
      <!--<textarea name="textarea" id="textarea2"></textarea>-->
    <!--</td>-->
   <tr>
    <td>
      <input type="button" value="Cancel Meeting">

    </td>
  </tr>
</table>


<a href="meeting/rnew">Back to Meeting Dashboard</a>


