<%= content_for :page_title do %>
    Location
<% end %>

<label for="sCountry">Locations</label>
<select name="sCountry" id="sCountry">
  <option value="">Location</option>
  <option value="ad">Andorra</option>
  <option value="ae">United Arab Emirates</option>
  <option value="">Location</option>
  <option value="ad">Andorra</option>
  <option value="ae">United Arab Emirates</option>
  <option value="">Location</option>
  <option value="ad">Andorra</option>
  <option value="ae">United Arab Emirates</option>
</select>

